.pay-page {
    width: 100%;
    height: 800px;
    background: #171717;
}
.pay_s-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    /*margin-bottom: 200px;*/
    width: 500px;
    height: 480px;
    /*display: inline-block;*/
    /*text-align:center;
    display: block;
    margin: 20px 450px -10px;
    position: relative;*/
    /*padding-top:  525px;*/
    display: flex;

    background: #121212;
    transform: translate(0px, 100px);
}
.pay-form > input {
    width: 300px;
    height: 45px;
}
.pay_s-form__title {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #FFFFFF;
}
input {
    display: block;
    width: 100%;
    height: 45px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    border: 1px solid #FFFFFF;
    background: #121212;
    margin-bottom: 25px;
    padding-left: 20px;
    color: #FFFFFF;
}
.pay-page__btn {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 285px;
    height: 65px;
    background: #000000;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}
.ok_code {
    display: flex;
    margin:0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}
.pay_e-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 440px;
    display: flex;

    background: #121212;
    transform: translate(0px, 100px);
}