a {
    text-decoration: none;
    color: #FFFFFF;
}
.wrapper {
    max-width: 1575px;
    padding: 0 75px;
    margin: 0 auto;
}
.curr_orderPage {
    width: 100%;
    min-height: 850px;
    background: #171717;
}
.deliverymanLine_order {
    margin-top: 15px;
    margin-bottom: 11px;
    margin-left: auto;
    margin-right: auto;
    width: 1360px;
    padding: 0 25px 0 10px;
    height: 65px;
    background: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.deliverymanLine__inf {
    font-size: 20px;
}
.accountPage__title {
    display: block;
    margin: 0 auto 56px;
    padding-top: 140px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}
.accountPage__refsBlock {
    width: 1084px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}
.accountPage__ref {
    margin-bottom: 30px;
    margin-right: 15px;
    position: relative;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}
.accountPage__ref::after {
    position: absolute;
    content: "|";
    right: -14px;
}
.afterClear::after {
    display: none;
}
.accountPage__ref:last-child:after {
    content: '';
}
.selected > * {
    color: #989292 !important;
}
.accountPage__line {
    width: 1170px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border: 1px solid #000000;
    transform: rotate(0.1deg);
}
.deliverymanLine__btns {
    display: flex;
    gap: 20px;
}
.darkBtn {
    width: 200px;
    height: 44px;
    background: #000000;
    border: 1px solid #F5F5F5;
    border-radius: 35px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
    transform: translate(-10px, 1px);
}
.transparentBtn {
    width: 200px;
    height: 44px;
    background: #121212;
    border: 1px solid #F5F5F5;
    border-radius: 35px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #FFFFFF;
}