.learn-more1-page {
    background: url("../../img/rent/rentBG.jpg") no-repeat top/100%;
    height: 800px;
}

.learn-more1-form {
    display: block;
    margin: 120px auto 0px;
    width: 550px;
    height: 610px;
    padding: 43px 77px 80px;
    background: #171717;
}

.learn-more1-page__btn {
    width: 285px;
    height: 65px;
    background: #000000;
    border: 1px solid #F5F5F5;
    border-radius: 6px;
    font-family: 'Rubik';
    font-style: normal;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    transform: translate(125px, -375px);
}

.learn-more1-form__title {
    margin-bottom: 35px;
}

.learn-more1-form__title > span {
    text-align: center;
    display: block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.learn-more1-form__blockTitle {
    display: block;
    margin-bottom: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    color: #FFFFFF;
}

.learn-more1-form__blockTitle1 {
    display: block;
    margin-bottom: 12px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 23px;
    color: #FFFFFF;
    transform: translate(350px, -430px);
}